---
---

body {
	margin: 0;

	// General font style
	font: 1.2em/1.62 sans-serif;

	// Colors
	color: #000;
	background-color: #fff;

	// Smaller fonts
	.fine-print {
		font-size: .7em;
	}

	.text-center {
		text-align: center;
	}

	// Container class to keep things nice in the middle
	.container, footer {
		padding: 0 .62em;
		margin: 1em auto;
		max-width: 40em;

		a {
			color: #0077aa;
		}
	}

	header {
		border-bottom: 1px solid #777;

		nav {
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333;
			}

			li {
				float: right;

				a {
					display: block;
					color: white;
					text-align: center;
					padding: 14px 16px;
					text-decoration: none;
				}

				a:hover {
					background-color: #111;
				}
			}

			li.title {
				float: left;
			}
		}
	}

	// Add a top border for the footer
	footer {
		border-top: 1px solid #777;
	}

	main {
		h1, h2, h3 {
			line-height: 1.2;
		}
	}
}

@media print {
	body {
		max-width: none;
	}
}
